<div class="container">
  <div class="text-center">
    <h3>Fournisseurs enregistrés</h3>
  </div>
  <hr>
  <br>

  <!-- TABLEAU DES FOURNISSEURS -->

  <table class="table">
    <thead class="thead-light">
      <th>Id</th>
      <th><i class="material-icons">domain</i> Raison sociale </th>
      <th><i class="material-icons">home</i> Adresse </th>
      <th><i class="material-icons">phone</i> Tel</th>
      <th><i class="material-icons">email</i> Mail</th>
      <th>Supprimer</th>
      <th>Modifier</th>
    </thead>
    <tbody *ngFor="let fournisseur of fournisseurs; let i = index">
      <tr>
        <td>{{fournisseur.id}}</td>
        <td><b>{{fournisseur.raisonSociale}}</b></td>
        <td>{{fournisseur.adresse}}</td>
        <td>{{fournisseur.tel}}</td>
        <td>{{fournisseur.mail}}</td>
        <td><button (click)="deleteFournisseur(fournisseur.id)" class="btn btn-danger"><i class="material-icons">delete</i></button></td>
        <td><button (click)="fenetreModification(fournisseur)"
          [routerLink]="['/accueil/liste-fournisseurs/modifier-fournisseur', fournisseur.id]" class="btn btn-primary btn-modifier"><i class="material-icons">create</i></button></td>
      </tr> 
    </tbody>
  </table>
  <hr>

  <!-- ENCART AJOUT FOURNISSEUR -->

  <form *ngIf="modification == false" class="col-md-8 formulaire" (ngSubmit)="onSubmit()" [formGroup]="formCreate">
    <div class="text-center">
      <h4>Ajouter un nouveau fournisseur</h4>
    </div>
    <br>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="raisonSociale">RaisonSociale</label>
        <input id="raisonSociale" formControlName="raisonSociale" type="text" class="form-control"
          placeholder="Nom du fournisseur"
          [ngClass]="{'is-invalid' : formCreate.get('raisonSociale').errors && (formCreate.get('raisonSociale').touched || formCreate.get('raisonSociale').dirty)}">
        <span class="invalid-feedback">
          <p>Veuillez nommer votre fournisseur</p>
        </span>
      </div>

      <div class="form-group col-md-6">
        <label for="adresse">Adresse</label>
        <input id="adresse" formControlName="adresse" type="text" class="form-control"
          placeholder="Adresse du fournisseur"
          [ngClass]="{'is-invalid' : formCreate.get('adresse').errors && (formCreate.get('adresse').touched || formCreate.get('adresse').dirty)}">
        <span class="invalid-feedback">
          <p>Veuillez renseigner une adresse postale</p>
        </span>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="tel">N° de téléphone</label>
        <input id="tel" formControlName="tel" type="text" class="form-control" placeholder="Numéro de téléphone"
          [ngClass]="{'is-invalid' : formCreate.get('tel').errors && (formCreate.get('tel').touched || formCreate.get('tel').dirty)}">
        <span class="invalid-feedback">
          <p>Veuillez renseigner un numéro de téléphone</p>
        </span>
      </div>

      <div class="form-group col-md-6">
        <label for="mail" class="control-label">Mail</label>
        <input id="mail" formControlName="mail" type="email" class="form-control" placeholder="nom@domaine.com"
          [ngClass]="{'is-invalid' : formCreate.controls.mail.invalid && formCreate.get('mail').touched}">
        <span class="invalid-feedback">
          <p>Veuillez renseigner une adresse mail valide</p>
        </span>
      </div>
    </div>

    <div class="form-group d-flex justify-content-around">
      <button [disabled]="!formCreate.valid" type="submit" class="btn btn-success ">Valider l'ajout</button>
    </div>
    <p *ngIf="submitted == true" class="confirmation">Le fournisseur a bien été ajouté à la base de donnée !</p>
    <p *ngIf="errorMessage == true" class="erreur">Une erreur est survenue !</p>

  </form>

  <!-- ENCART MODIFICATION FOURNISSEUR -->

  <form *ngIf="modification == true" class="col-md-8 formulaire" (ngSubmit)="onUpdate()" [formGroup]="formUpdate">
    <div class="text-center">
      <h4>Modifier le fournisseur avec l'id : {{fournisseur.id}}</h4>
    </div>
    <br>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="raisonSociale">RaisonSociale</label>
        <input id="raisonSociale" formControlName="raisonSociale" type="text" class="form-control"
          placeholder="Nom du fournisseur"
          [ngClass]="{'is-invalid' : formCreate.get('raisonSociale').errors && (formCreate.get('raisonSociale').touched || formCreate.get('raisonSociale').dirty)}">
        <span class="invalid-feedback">
          <p>Veuillez nommer votre fournisseur</p>
        </span>
      </div>

      <div class="form-group col-md-6">
        <label for="adresse">Adresse</label>
        <input id="adresse" formControlName="adresse" type="text" class="form-control"
          placeholder="Adresse du fournisseur"
          [ngClass]="{'is-invalid' : formCreate.get('adresse').errors && (formCreate.get('adresse').touched || formCreate.get('adresse').dirty)}">
        <span class="invalid-feedback">
          <p>Veuillez renseigner une adresse postale</p>
        </span>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="tel">N° de téléphone</label>
        <input id="tel" formControlName="tel" type="text" class="form-control" placeholder="Numéro de téléphone"
          [ngClass]="{'is-invalid' : formCreate.get('tel').errors && (formCreate.get('tel').touched || formCreate.get('tel').dirty)}">
        <span class="invalid-feedback">
          <p>Veuillez renseigner un numéro de téléphone</p>
        </span>
      </div>

      <div class="form-group col-md-6">
        <label for="mail">Mail</label>
        <input id="mail" formControlName="mail" type="email" class="form-control" placeholder="nom@domaine.com"
          [ngClass]="{'is-invalid' : formCreate.controls.mail.invalid && formCreate.get('mail').touched}">
        <span class="invalid-feedback">
          <p>Veuillez renseigner une adresse mail valide</p>
        </span>
      </div>
    </div>

    <div class="form-group d-flex justify-content-around">
      <button (click)="retour()" class="btn btn-secondary ">Annuler les modifications</button>
      <button [disabled]="formUpdate.invalid" type="submit" class="btn btn-success ">Valider les modifications</button>
    </div>
    <p *ngIf="submitted == true" class="confirmation">Le fournisseur a bien modifié !</p>
    <p *ngIf="errorMessage == true" class="erreur">Veuillez remplir tous les champs !</p>
  </form>
</div>